@import url('https://fonts.googleapis.com/css2?family=Red+Rose&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Sora:wght@600&display=swap');

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  /* border: 0.5px solid red; */
}

body {
  scroll-behavior: smooth;
  font-family: 'Red Rose';
  color: #434343;
}

a {
  text-decoration: none;
  color: inherit;
}

button {
  border: unset;
}

.purple {
  background: linear-gradient(90deg, #A02279 11.45%, #A02279 11.45%);
}

.mobile-nav{
  display: none;
}

.hero-container {
  display: flex;
  margin: 6.5rem 6.5vw 4.5rem 6.5vw;
  gap: 5vw;
  flex-wrap: wrap;
}

.hero-tagline {
  flex: 1.1;
}

.hero-img-container {
  flex: 1;
}

.hero-container h1,
.hero-container span {
  font-size: 3rem;
}

.hero-description {
  margin: 2rem 0;
  font-size: 1.2rem;
}

.hero-search {
  width: 100%;
  display: flex;
}

input {
  padding: 0.8rem;
  flex: 2;
  border-bottom-left-radius: 0.5rem;
  border-top-left-radius: 0.5rem;
}

.hero-search button {
  flex: 1;
  border-bottom-right-radius: 0.5rem;
  border-top-right-radius: 0.5rem;
}

.hero-img-container{
  position: relative;
  bottom: 4rem;
}

/* //Nav bar// */

.home-nav {
  padding: 1rem 0;
  display: flex;
  justify-content: space-around;
}

.nav-links {
  margin: auto 0;
  display: flex;
}

.nav-link {
  margin: 0 1rem;
}

.connect-btn {
  padding: 0.7rem 1.4rem;
  border-radius: 0.5rem;
  cursor: pointer;
}

.purple-text {
  color: purple;
}

.white-text {
  color: white;
}

.ad {
  max-width: 98vw;
  text-align: center;
}

.connect-wallet-div{
  padding: 0.7rem;
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid gray;
}

.modal-title{
  font-weight: 600;
  font-size: 1.2rem;
  font-family: "sora";
  color: black;
}

.choose-wallet-text{
  font-size: o.4rem;
  margin-left: 1.2rem;
  margin-top: 1rem;
  margin-bottom: -.5rem;
  font-family: "sora";
  color: black;
}

.select-wallet-div{
  padding: 1rem;
}

.modal-close{
  cursor: pointer;
}

.wallet-name{
  font-family: 'sora';
  color: black;
  display: flex;
}

.wallet-name span{
  margin: auto;
}

.wallet-name img{
  margin-right: 0.5rem;
}

.wallet-click{
  margin: auto 0;
  font-size: 1.5rem;
}

.wallet{
  display: flex;
  justify-content: space-between;
  padding: 0.5rem;
  margin: 0.4rem 0;
  border-radius: 0.4rem;
  background-color: #f8f9fa;
  border: 1px solid #CFD8DC;
  font-family: "sora";
}

/* //Inspiration Section// */
.inspiration-section,
.places-section {
  padding: 0 4.5vw;
}

.inspiration-section h2 {
  margin-top: 2.5rem;
  font-size: 2.5rem;
  text-align: center;
}

.product-container {
  display: flex;
  margin: auto;
  justify-content: space-around;
  gap: 1rem;
  flex-flow: wrap;
  margin: 3.5rem 0;
}

.product-img {
  margin: auto;
  display: flex;
}

.product-item {
  border: 1px solid gray;
  border-radius: 0.5rem;
  padding: 1rem;
}

.product-description {
  margin-top: 0.5rem;
}


.product-item p {
  display: flex;
  justify-content: space-between;
  margin: 0.5rem 0;
}

.product-item p span {
  font-size: 0.6rem;
}

.stars{
  position: relative;
  left: 0;
}

.nft-section {
  background-color: #A02279;
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding: 3.5rem;
  gap: 5vw;
}

.nft-img-container{
  background-color: #A02279;
}

.nfts-img{
  width: 44vw;
}

.nft-text,
.nft-img-container {
  flex: 1;
}

.nft-text h3,
.nft-text p,
.nft-text button {
  margin: 2rem 0;
}

.nft-text-header {
  font-size: 3rem;
}

.nft-text {
  padding: 3.5rem;
  color: white;
}

.nft-btn {
  padding: .7rem 1.4rem;
  color: #A02279;
  font-weight: 600;
  background-color: white;
  border-radius: 0.5rem;
}



.places-nav {
  display: flex;
  justify-content: space-between;
  padding: 3.5rem;
  
}

.places{
  max-width: 80vw;
  white-space: nowrap;
  overflow: auto;
  padding: 2rem 0;
  padding-top: 1rem;
  padding-bottom: 1rem;
}

.place {
  margin: 0 1.5vw;
  font-size: 1.2rem;
}

.location {
  border: 1px solid gray;
  border-radius: 0.4rem;
  padding: 0.5rem;
  display: inline-flex;
  margin: auto 0;
}

.location img{
  margin-left: 0.5rem;
}

.footer-section {
  background-color: black;
  color: white;
}

footer {
  padding: 4rem;
  display: flex;
  justify-content: space-around;
}

.footer-container{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  flex: 2;
}

.logo-div{
  flex: 1;
}


footer h4 {
  margin-bottom: 1rem;
}

footer div p {
  margin-bottom: 0.8rem;
  font-size: 0.8rem;
  opacity: 0.7;
  font-weight: lighter;
}
.social-icons{
  margin-bottom: 3rem;
}

.social-icons img{
  margin: 0 0.6rem;
}


.footer-final{
  width: fit-content;
  position: relative;
  bottom: 6rem;
  left: 6rem
}

@media screen and (max-width: 1000px){
  .hero-container{
    text-align: center;
    margin: 6.5rem 6rem 4.5rem 6rem;
  }
  .hero-img-container{
   display: none;
  }
  .nft-section{
    display: block;
    text-align: center;
    flex-direction: column-reverse;
  }

  .nfts-img{
    width: 70vw;
  }
}

@media screen and (max-width: 800px) {
  
 .hide-link{
  display: none;
 }
}

@media screen and (max-width: 600px){
  
  .home-nav{
    display: flex;
    justify-content: space-between;
    padding: 1rem;
  }
  .home-nav img{
    height: 25px;
    display: flex;
    margin: auto 0;
  }
  .connect-btn{
    padding: 0.4rem ;
  }
  .hero-container{
    margin-left: 2rem;
    margin-right: 2rem;
  }
.hero-description{
  font-size: 1rem;
}
.ad{
  height: 2rem;
}

  footer{
    display: block;
    text-align: center;
  }

  footer div{
    margin-bottom: 2rem;
  }

  .footer-container{
    display: block;
    margin-bottom: -1.5rem;
  }

  .footer-final{
    position: static;
    text-align: center;
    margin: auto;
  }
}